* {
  box-sizing: border-box;
}

body {
  background-color: #a164df;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: #663399;
  border-radius: 5px;
  font-family: inherit;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  color: #fff;
}

.btn:focus {
  opacity: 0.9;
}